<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
   <bean name="userDAO" class="com.bjsxt.dao.impl.UserDAOImpl" >
   <property name = "daoId" value = "1"></property>
   </bean>
   

 
    
   <bean id="userService" class="com.bjsxt.services.UserService" scope ="prototype" autowire ="byName">

  
   </bean>



</beans>